<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scada:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div *ngIf = "!home_footer">
        <div *ngIf = "!profile_footer">
            <div class="order-footer">
                <ul class="footer-items">
                    <li>About Us</li>
                    <li>Delivery Information</li>
                    <li>Returns & Exchange</li>
                    <li>Technical & Privacy</li>
                    <li>Order Status</li>
                </ul>
            <div>
            <div class="logo"></div>
            <p class="title">MADE UP</p> 
            <div class="stay-with">Stay in touch with us</div>
            <img class="facebook" src="../../assets/images/facebook-image.png" alt="">
            <img class="instagram" src="../../assets/images/instagram.png" alt="">
            
            <div class="youtube-border">
                <img class="youtube" src="../../assets/images/youtube.png" alt="">
            </div>

            <div class="address-bar">Our Corporate Office</div>

            <div class="second-line">7,A2B road, Adayar Rajpuram, T-Nagar, Chennai - 642002</div>

            <img class="mail-icon" src="../../assets/images/mail.png" alt="">
            <div class="mail-text">sales@derbymen.com</div>
            
            <img class="phone-icon" src="../../assets/images/phone.png" alt="">
            <div class="phone-number">044 5566 6889</div>
            </div>
            </div>
        </div>
    </div>

    <div *ngIf = "profile_footer">
        <div class="profile-footer">
            <ul class="footer-items">
                <li>About Us</li>
                <li>Delivery Information</li>
                <li>Returns & Exchange</li>
                <li>Technical & Privacy</li>
                <li>Order Status</li>
            </ul>
        <div>
            <div class="logo"></div>
            <p class="title">MADE UP</p> 
            <div class="stay-with">Stay in touch with us</div>
            <img class="facebook" src="../../assets/images/facebook-image.png" alt="">
            <img class="instagram" src="../../assets/images/instagram.png" alt="">
            
            <div class="youtube-border">
                <img class="youtube" src="../../assets/images/youtube.png" alt="">
            </div>

            <div class="address-bar">Our Corporate Office</div>

            <div class="second-line">7,A2B road, Adayar Rajpuram, T-Nagar, Chennai - 642002</div>

            <img class="mail-icon" src="../../assets/images/mail.png" alt="">
            <div class="mail-text">sales@derbymen.com</div>
            
            <img class="phone-icon" src="../../assets/images/phone.png" alt="">
            <div class="phone-number">044 5566 6889</div>
            </div>
        </div>
    </div>


    <div *ngIf = "home_footer">
        <div class="home-footer">
            <ul class="footer-items">
                <li>About Us</li>
                <li>Delivery Information</li>
                <li>Returns & Exchange</li>
                <li>Technical & Privacy</li>
                <li>Order Status</li>
            </ul>
        <div>
            <div class="logo"></div>
            <p class="title">MADE UP</p> 
            <div class="stay-with">Stay in touch with us</div>
            <img class="facebook" src="../../assets/images/facebook-image.png" alt="">
            <img class="instagram" src="../../assets/images/instagram.png" alt="">
            
            <div class="youtube-border">
                <img class="youtube" src="../../assets/images/youtube.png" alt="">
            </div>

            <div class="address-bar">Our Corporate Office</div>

            <div class="second-line">7,A2B road, Adayar Rajpuram, T-Nagar, Chennai - 642002</div>

            <img class="mail-icon" src="../../assets/images/mail.png" alt="">
            <div class="mail-text">sales@derbymen.com</div>
            
            <img class="phone-icon" src="../../assets/images/phone.png" alt="">
            <div class="phone-number">044 5566 6889</div>
            </div>
        </div>
    </div>

</body>
  
