
/************************************* Profile Details *************************************/
.profile-line1{
    position: absolute;
    width: 300px;
    height: 0px;
    left: 76px;
    top: 355px;
    border-top: 1.5px solid #000000;
}


.profile-outline{
    position: absolute;
    width: 784px;
    height: 530px;
    left: 379px;
    top: 193px;
    border: 1.5px solid #333333;
    box-sizing: border-box;
}

.profile-headline{
    position: absolute;
    width: 131.03px;
    height: 35px;
    left: 35px;
    top: 33px;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}

.name-box{
    position: absolute;
    width: 327.58px;
    height: 45px;
    left: 35px;
    top: 90px;
    border: 1px solid #333333;
    box-sizing: border-box;
    text-align: 20px;
    padding-left: 25px;
}

.name-box2{
    position: absolute;
    width: 327.58px;
    height: 45px;
    left: 370px;
    top: 90px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    padding-left: 25px;
}

.email{
    position: absolute;
    width: 677px;
    height: 45px;
    left: 35px;
    top: 155px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    padding-left: 25px;
}

.phone-number{
    position: absolute;
    width: 677px;
    height: 45px;
    left: 35px;
    top: 220px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    padding-left: 25px;
}

.password{
    position: absolute;
    width: 677px;
    height: 45px;
    left: 35px;
    top: 285px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    padding-left: 25px;
}

.confirm-pass{
    position: absolute;
    width: 677px;
    height: 45px;
    left: 35px;
    top: 350px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    padding-left: 25px;
}

.add-new-address{
    position: absolute;
    width: 240px;
    height: 50px;
    left: 493px;
    top: 437px;
    background: #333333;
}

.add-new-text{
    position: absolute;
    width: 161px;
    height: 30px;
    left: 60px;
    top: 14px;

    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;
    color: #FFFFFF;
}


/*************************************** Tablet view ***************************************/

@media only screen and (max-width: 768px){

    .profile-line1{
        position: absolute;
        width: 228px;
        left: 29px;
        top: 259px;
    }
    
    .profile-outline{
        position: absolute;
        width: 482px;
        height: 516px;
        left: 257px;
        top: 93px;
    }

    .profile-headline{
        position: absolute;
        width: 102px;
        height: 23.93px;
        left: 20px;
        top: 15px;
        font-size: 22px;
        line-height: 32px;
        color: #777777;
    }
    
    .name-box{
        position: absolute;
        width: 207.1px;
        height: 40px;
        left: 20px;
        top: 80px;
    }
    
    .name-box2{
        position: absolute;
        width: 207.1px;
        height: 40px;
        left: 240px;
        top: 80px;
    }
    
    .email{
        position: absolute;
        width: 428px;
        height: 40px;
        left: 20px;
        top: 140px;
    }
    
    .phone-number{
        position: absolute;
        width: 428px;
        height: 40px;
        left: 20px;
        top: 200px;
    }
    
    .password{
        position: absolute;
        width: 428px;
        height: 40px;
        left: 20px;
        top: 260px;
    }
    
    .confirm-pass{
        position: absolute;
        width: 428px;
        height: 40px;
        left: 20px;
        top: 320px;
    }
    .add-new-address{
        position: absolute;
        width: 240px;
        height: 50px;
        left: 121px;
        top: 416px;
    } 
}

/********************************** Mobile View **********************************/

@media only screen and (max-width: 360px){
    .profile-line1{
        position: absolute;
        width: 290px;
        left: 20px;
        top: 238px;
    }
    
    .profile-outline{
        position: absolute;
        width: 310px;
        height: 516px;
        left: 20px;
        top: 240px;
        border: none;
    }

    .profile-headline{
        display: none;
    }
    
    .name-box{
        position: absolute;
        width: 280px;
        height: 40px;
        left: 10px;
        top: 50px;
    }
    
    .name-box2{
        position: absolute;
        width: 280px;
        height: 40px;
        left: 10px;
        top: 110px;
    }
    
    .email{
        position: absolute;
        width: 280px;
        height: 40px;
        left: 10px;
        top: 170px;
    }
    
    .phone-number{
        position: absolute;
        width: 280px;
        height: 40px;
        left: 10px;
        top: 230px;
    }
    
    .password{
        position: absolute;
        width: 280px;
        height: 40px;
        left: 10px;
        top: 290px;
    }
    
    .confirm-pass{
        position: absolute;
        width: 280px;
        height: 40px;
        left: 10px;
        top: 350px;
    }
    
    .add-new-address{
        position: absolute;
        width: 280px;
        height: 50px;
        left: 10px;
        top: 430px;
        background: #333333;
    } 
}