<body>
    <div class="profile-line1"></div>
    <div class="profile-outline">
        <div class="profile-headline">My Profile</div>
        <input type="text" name="firstname" id="" class="name-box" placeholder="First name">
        <input type="text" name="lastname" class="name-box2" placeholder="Last name">
        <input type="email" name="email" class="email" placeholder="Email">
        <input type="number" name="phone" class="phone-number" placeholder="Phone number">
        <input type="password" name="password" class="password" placeholder="Password">
        <input type="password" name="confirmpassword" class="confirm-pass" placeholder="Confirm Password">
        <div class="add-new-address">
            <div class="add-new-text">Add new Address</div>
        </div>
    </div>
    <app-footer [profile_footer] = "profileFooter" *ngIf="profileFlag"></app-footer>
</body>