<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>

<input type="checkbox" id="check">
<label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
</label>

<div class="pop-up-container">
    <ul class="pop-up-profile">
      <li style="color: #E10000;">My Profile</li>
      <li>My wishlist</li>
      <li>My Orders</li>
      <li>My Address</li>
    </ul>
    <div class="pop-up-line"></div>
    <ul class="pop-up-brand">
      <li style="color: #E10000;">The Brand</li>
      <li>The Made Up Story</li>
      <li>Franchise and Supplieds</li>
      <li> Store Locator</li>
    </ul>
  </div>
