
/********************** Order Details **********************/
.order-line1{
    position: absolute;
    width: 300px;
    height: 0px;
    left: 76px;
    top: 420px;
    border-top: 1.5px solid #000000;
}

.order-outline{
    position: absolute;
    width: 784px;
    height: 757px;
    left: 379px;
    top: 193px;
    background: #FFFFFF;
    border: 1.5px solid #333333;
    box-sizing: border-box;
}

.order-headline{
    position: absolute;
    width: 117px;
    height: 35px;
    left: 35px;
    top: 33px;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #777777;
}

.ordered-items{
    position: absolute;
    width: 730px;
    height: 645px;
    left: 40px;
    top: 109px;
    background: #FFFFFF;
}


/***************************** First Order **********************************/
.order-border{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #DDDDDD;
}

.order-image{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 10px;
    top: 10px;
    background: url(../../assets/images/Item-Model.png);
}

.order-id{
    position: absolute;
    width: 283px;
    height: 20px;
    left: 120px;
    line-height: 20px;
    color: #777777;
}

.order-details{
    position: absolute;
    width: 245px;
    height: 40px;
    left: 120px;
    top: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
}

.order-address{
    position: absolute;
    width: 283px;
    height: 20px;
    left: 120px;
    top: 80px; 
    line-height: 20px;
    color: #777777;
}

.card-option{
    position: absolute;
    width: 150px;
    height: 20px;
    left: 580px;
    line-height: 20px;
    color: #777777;
}

.amount{
    position: absolute;
    width: 111px;
    height: 34px;
    left: 580px;
    top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #333333;
}

.status{
    position: absolute;
    width: 85px;
    height: 25px;
    left: 615px;
    top: 105px;
    color: white;
    background: #333333;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
}

.bottom-arrow{
    position: absolute;
    width: 15px;
    height: 10px;
    left: 670px;
    top: 75px;
}

.order-line{
    position: absolute;
    width: 704px;
    height: 0px;
    left: 0px;
    top: 130px;
    border-top: 1.5px solid #DDDDDD;
}

/***************************** Second Order **********************************/

.order-border2{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 160px;
    background: #DDDDDD;
}

/***************************** Third Order **********************************/

.order-border3{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 325px;
    background: #DDDDDD;
}

.status3{
    position: absolute;
    width: 85px;
    height: 25px;
    left: 615px;
    top: 105px;
    color:  #777777;
    background: #F3F3F3;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
}


/***************************** Fourth Order **********************************/

.order-border4{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 500px;
    background: #DDDDDD;
}


/***************************** Tablet view **********************************/

@media only screen and (max-width: 768px){
    
    .order-line1{
        position: absolute;
        left: 29px;
        top: 319px;
    }
    
    
    .order-outline{
        position: absolute;
        width: 480px;
        height: 660px;
        left: 257px;
        top: 93px;
    }
    
    .order-headline{
        position: absolute;
        left: 25px;
        top: 23px;
        font-size: 22px;
        line-height: 32px;
    }
    
    .ordered-items{
        position: absolute;
        width: 180px;
        height: 545px;
        left: 20px;
        top: 79px;
    }
    
    
    /***************************** First Order **********************************/
    .order-border{
        position: absolute;
        width: 85px;
        height: 85px;
    }
    
    .order-image{
        position: absolute;
        width: 75px;
        height: 75px;
        left: 5px;
        top: 5px;
        background: url(../../assets/images/Item-Model.png);
        
    }
    
    .order-id{
        position: absolute;
        width: 199px;
        height: 17px;
        left: 100px;
        font-size: 12px;
        line-height: 17px;
    }
    
    .order-details{
        position: absolute;
        width: 217px;
        height: 46px;
        left: 100px;
    }
    
    .order-address{
        position: absolute;
        width: 199px;
        height: 17px;
        left: 100px;
        font-size: 12px;
        line-height: 17px; 
    }
    
    .card-option{
        position: absolute;
        width: 108px;
        height: 17px;
        left: 330px;
        font-size: 12px;
        line-height: 17px;
    }
    
    .amount{
        position: absolute;
        left: 315px;
    }
    
    .status{
        position: absolute;
        width: 60px;
        left: 370px;
        top: 90px;
    }
    
    .bottom-arrow{
        position: absolute;
        left: 420px;
        top: 65px;
    }
    
    .order-line{
        position: absolute;
        width: 450px;
        top: 115px;
    }
    
    /***************************** Second Order **********************************/
    
    .order-border2{
        position: absolute;
        width: 85px;
        height: 85px;
        top: 140px;
    }
    
    /***************************** Third Order **********************************/
    
    .order-border3{
        position: absolute;
        width: 85px;
        height: 85px;
        top: 280px;
    }
    
    .status3{
        position: absolute;
        left: 355px;
        top: 90px;
    }

    /***************************** Fourth Order **********************************/
    .order-border4{
        position: absolute;
        width: 85px;
        height: 85px;
        top: 420px;
    }
}

    /***************************** Mobile View **********************************/

@media only screen and (max-width: 360px){
    .order-line1{
        position: absolute;
        width: 320px;
        left: 20px;
        top: 316px;
    }
    
    
    .order-outline{
        position: absolute;
        width: 360px;
        height: 643px;
        left: -20px;
        top: 335px;
        border: none;
    }
    
    .order-headline{
        position: absolute;
        width: 155px;
        height: 22px;
        left: 50px;
        top: 0px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }
    
    .ordered-items{
        position: absolute;
        width: 180px;
        height: 545px;
        left: 20px;
        top: 49px;
    }
    
    
    /***************************** First Order **********************************/
    .order-border{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 5px;
        top: 0;
    }
    
    .order-image{
        position: absolute;
        width: 65px;
        height: 65px;
        left: 2.5px;
        top: 2.5px;
        background: url(../../assets/images/Item-Model.png);
    }
    
    .order-id{
        position: absolute;
        width: 199px;
        height: 17px;
        left: 80px;
        top: 0px; 
        line-height: 20px;
        font-size: 12px;
        line-height: 17px;
    }
    
    .order-details{
        position: absolute;
        width: 180px;
        height: 46px;
        left: 80px;
        top: 20px;
        font-size: 12px;
        line-height: 23px;
    }
    
    .order-address{
        position: absolute;
        width: 180px;
        height: 17px;
        left: 80px;
        top: 80px; 
        font-size: 10px;
        line-height: 17px; 
    }
    
    .card-option{
        position: absolute;
        width: 88px;
        height: 17px;
        left: 245px;
        top: 0;
        font-size: 10px;
        line-height: 17px;
    }
    
    .amount{
        position: absolute;
        left: 220px;
        font-size: 16px;
    }
    
    .status{
        position: absolute;
        width: 60px;
        left: 275px;
        top: 90px;
    }
    
    .bottom-arrow{
        position: absolute;
        left: 300px;
        top: 65px;
    }
    
    .order-line{
        position: absolute;
        width: 335px;
        height: 0px;
        left: 0px;
        top: 115px;
    }
    
    /***************************** Second Order **********************************/
    
    .order-border2{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 5px;
        top: 140px;
    }
    
    /***************************** Third Order **********************************/
    
    .order-border3{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 5px;
        top: 280px;
    }
    
    .status3{
        position: absolute;
        width: 70px;
        height: 25px;
        left: 265px;
        top: 90px;
    }
    
    /***************************** Fourth Order **********************************/
    .order-border4{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 5px;
        top: 420px;
    }
}


