<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scada:wght@700&display=swap" rel="stylesheet">
</head>

<div class="order-line1"></div>
<div class="order-outline">
    <div class="order-headline">My Orders</div>

    <div class="ordered-items">
        <div class="order-border">
            <div class="order-image"></div>
            <div class="order-id">Order #12345678</div>
            <div class="order-details">Madeup White Cotton Blend Checkered Slim Fit Shirt</div>
            <div class="order-address">Express Delivery by Sat, Aug 30</div>
            <div class="card-option">Credit Card Payment</div>
            <div class="amount">Rs 1,899</div>
            <div class="status">Pending</div>
            <img  class="bottom-arrow" src="../../assets/images/bottom-arrow.png">
            <div class="order-line"></div>
        </div>

        <!-- Second order -->
        <div class="order-border2">
            <div class="order-image"></div>
            <div class="order-id">Order #12345678</div>
            <div class="order-details">Madeup White Cotton Blend Checkered Slim Fit Shirt</div>
            <div class="order-address">Express Delivery by Sun, Aug 31</div>
            <div class="card-option">Credit Card Payment</div>
            <div class="amount">Rs 1,899</div>
            <div class="status">Pending</div>
            <img  class="bottom-arrow" src="../../assets/images/bottom-arrow.png">
            <div class="order-line"></div>
        </div>

        <!-- Third order -->
        <div class="order-border3">
            <div class="order-image"></div>
            <div class="order-id">Order #12345678</div>
            <div class="order-details">Madeup White Cotton Blend Checkered Slim Fit Shirt</div>
            <div class="order-address">Express Delivery by Sun, Aug 16</div>
            <div class="card-option">Credit Card Payment</div>
            <div class="amount">Rs 1,899</div>
            <div class="status3">Delivered</div>
            <img  class="bottom-arrow" src="../../assets/images/bottom-arrow.png">
            <div class="order-line"></div>
        </div>

        <!-- Fourth order -->
        <div class="order-border4">
            <div class="order-image"></div>
            <div class="order-id">Order #12345678</div>
            <div class="order-details">Madeup White Cotton Blend Checkered Slim Fit Shirt</div>
            <div class="order-address">Express Delivery by Sat, Aug 15</div>
            <div class="card-option">Credit Card Payment</div>
            <div class="amount">Rs 1,899</div>
            <div class="status3">Delivered</div>
            <img  class="bottom-arrow" src="../../assets/images/bottom-arrow.png">
            <div class="order-line"></div>
        </div>
    </div>
</div>
<app-footer *ngIf="orderFlag" [order_footer] = "orderFlag"></app-footer>
