
  <!---------------------------------------- Navigation Bar ---------------------------------------->
<body>

<nav>
  <label class="logo">
    <button class="title" (click)="onHome()">MADE UP</button>
  </label> 

  <ul>
    <li><a class="forme">For Me</a></li>
    <li><a class="Jeans">Jeans</a></li>
    <li><a class="Shirts">Shirts</a></li>
    <li><a class="T-Shirts">T-Shirts</a></li>
    <li><a class="Trousers">Trousers</a></li>
    <li><a class="Joggers">Joggers</a></li>
    <li><a class="Shorts">Shorts</a></li>
    <img class = "search" src = "../assets/images/Search.png" alt="">
    <img class = "cart" src = "../assets/images/Cart.png" alt="">
    <img class = "like" src = "../assets/images/Like.png" alt="">
    <img class = "user" src = "../assets/images/User.png" alt="">
  </ul>
</nav>

<!-- Pop up view once the screen size reduced -->




  <!------------------------------------------ Home view ------------------------------------------>
<div *ngIf="home_flag">
   <app-home-view></app-home-view>
</div>

  <!------------------------------------------ User Details ------------------------------------------>

<div *ngIf="!home_flag">
  <p class="home-profile"> Home / My Profile </p>

  <div>
    <div class="Grishk"></div>
    <p class="user-name">Grishk</p>
    <h2 class="email-id">griiskaim@gmail.com</h2>
  </div>

    <!-------------------- My Profile Section  -------------------->
  <div>
    <button class="my-profile" (click)="OnProfile()"> <b>My Profile</b> </button>
    <p class="notify">Notifications, password</p>
    <img src="../assets/images/right-arrow.png" class="first-arrow">
  </div>

    <!-------------------- My Order Section with If Else Block  -------------------->
  <div *ngIf="!mobile_profile; else elseBlock">
    <button class="my-orders" (click)="OnOrder()">  <b>My Orders</b> </button>
    <p class="order-details">Already have 12 orders</p>
    <img src="../assets/images/right-arrow.png" class="second-arrow">
    <div class="order-line"></div>
  </div>
  <ng-template #elseBlock>
    <button class="mobile_my-orders" (click)="OnOrder()"> <b>My Orders</b> </button>
    <p class="mobile_order-details">Already have 12 orders</p>
    <img src="../assets/images/right-arrow.png" class="mobile_second-arrow">
    <div class="mobile_order-line"></div>
  </ng-template>

    <!-------------------- My Address Section with If Else Block  -------------------->
  <div *ngIf="!mobile_profile; else secondElseBlock">
    <p class="my-address"><b> Shipping Addresses</b></p>
    <p class="addres-details">3 Addresses</p>
    <img src="../assets/images/right-arrow.png" class="third-arrow">
  </div>
  <ng-template #secondElseBlock>
    <p class="mobile_my-address"> <b> Shipping Addresses</b></p>
    <p class="mobile_addres-details">3 Addresses</p>
    <img src="../assets/images/right-arrow.png" class="mobile_third-arrow">
  </ng-template>

  <app-my-profile *ngIf="profile_flag" [profileFlag] = "profile_flag"></app-my-profile>
  <app-my-orders *ngIf="order_flag"  [orderFlag] = "order_flag"></app-my-orders>
  <app-pop-view></app-pop-view>
</div>
</body>