
/********************** Button Configuration **********************/
button{
    border: none;
    cursor: pointer;
}

/********************** Logo Configuration **********************/
label.logo{
    position: absolute;
    width: 98.66px;
    height: 69px;
    left: 42.17px;
    top: 0px;
    background: #E10000;
}

.title{
    position: absolute;
    width: 90px;
    height: 24.64px;
    left: 3px;
    top: 14px;
    font-family: Scada;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #E10000;
    border: none;
}

/********************** Navigation bar Configuration **********************/
nav{
    position: absolute;
    width: 1280px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-sizing: border-box;
}

/********************** Navigation List  **********************/
.forme{
    position: absolute;
    width: 42px;
    height: 20px;
    left: 244.11px;
    top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #E10000;
}


.Jeans{
    position: absolute;
    width: 31px;
    height: 20px;
    left: 362.85px;
    top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

.Shirts{
    position: absolute;
    width: 33px;
    height: 20px;
    left: 459.77px;
    top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

.T-Shirts{
    position: absolute;
    width: 42px;
    height: 20px;
    left: 559.04px;
    top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

.Trousers{
    position: absolute;
    width: 49px;
    height: 20px;
    left: 667.86px;
    top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

.Joggers{
    position: absolute;
    width: 45px;
    height: 20px;
    left: 784.69px;
    top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

.Shorts{
    position: absolute;
    width: 37px;
    height: 20px;
    left: 895.77px;
    top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #444444; 
}

.cart{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1089px;
    top: 25px;
}

.search{
    position: absolute;
    width: 17.51px;
    height: 17.51px;
    left: 1036.98px;
    top: 25.98px;
}

.like{
    position: absolute;
    width: 20px;
    height: 18.35px;
    left: 1144px;
    top: 26px;    
}

.user{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1200px;
    top: 27px;
}




/********************** Current Page Details **********************/
.home-profile{
    position: absolute;
    width: 103px;
    height: 17px;
    left: 60px;
    top: 104px;
    font-size: 13px;
    line-height: 17px;
    color: #777777;
}

/********************** User Details **********************/

.Grishk{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 67px;
    top: 181px;
    background: url(../assets/images/Grishk.png);
    border-radius: 50px;
}

.user-name{
    position: absolute;
    width: 46px;
    height: 19px;
    left: 159px;
    top: 196px;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.email-id{
    position: absolute;
    width: 180px;
    height: 19px;
    left: 159px;
    top: 217px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;  
    color: #9B9B9B;
}

.my-profile{
    position: absolute;
    width: 80px;
    height: 23px;
    left: 75px;
    top: 303px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #222222;
    background-color: #FFFFFF;
}

.notify{
    position: absolute;
    width: 114px;
    height: 16px;
    left: 75px;
    top: 327px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #9B9B9B;
}

.first-arrow{
    position: absolute;
    width: 8px;
    height: 11px;
    left: 250px;
    top: 310px;  
}

/********************** Order Details **********************/

.my-orders{
    position: absolute;
    width: 84px;
    height: 23px;
    left: 75px;
    top: 370px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #222222;
    background-color: #FFFFFF;
}

.mobile_my-orders{
    position: absolute;
    width: 84px;
    height: 23px;
    left: 75px;
    top: 370px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #222222;
    background-color: #FFFFFF;
}

.order-details{
    position: absolute;
    width: 113px;
    height: 16px;
    left: 76px;
    top: 395px; 
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #9B9B9B;
}

.mobile_order-details{
    position: absolute;
    width: 113px;
    height: 16px;
    left: 76px;
    top: 395px; 
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #9B9B9B;
}

.second-arrow{
    position: absolute;
    width: 8px;
    height: 11px;
    left: 250px;
    top: 380px;  
}

.mobile_second-arrow{
    position: absolute;
    width: 8px;
    height: 11px;
    left: 250px;
    top: 380px; 
}

/********************** Address Details **********************/

.my-address{
    position: absolute;
    width: 143px;
    height: 23px;
    left: 76px;
    top: 438px;  
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #222222;
}


.mobile_my-address{
    position: absolute;
    width: 143px;
    height: 23px;
    left: 76px;
    top: 438px;  
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #222222;
}

.addres-details{
    position: absolute;
    width: 63px;
    height: 16px;
    left: 76px;
    top: 463px;   
    font-weight: 500;
    font-size: 11px;
    line-height: 16px; 
    color: #9B9B9B;
}
.mobile_addres-details{
    position: absolute;
    width: 63px;
    height: 16px;
    left: 76px;
    top: 463px;   
    font-weight: 500;
    font-size: 11px;
    line-height: 16px; 
    color: #9B9B9B;
}

.third-arrow{
    position: absolute;
    width: 8px;
    height: 11px;
    left: 250px;
    top: 450px;  
}
.mobile_third-arrow{
    position: absolute;
    width: 8px;
    height: 11px;
    left: 250px;
    top: 450px;
}


/********************** Tablet View Configuration **********************/

@media only screen and (max-width: 768px) {

    /********************** Tablet Navigation Configuration **********************/
    label.logo{
        position: absolute;
        height: 48px;
        background: #E10000;
    }
    
    nav{
        position: absolute;
        width: 768px;
        height: 48px;
        border: 1px solid #DDDDDD;
    }
    
    /********************** Navigation List- Hidden in Tablet Mode **********************/
    .forme{
        display: none;
    }
    .Jeans{
        display: none;
    }
    .Shirts{
        display: none;
    }
    .T-Shirts{
        display: none;
    }
    .Trousers{
        display: none;
    }
    .Joggers{
        display: none;
    }
    .Shorts{
        display: none;
    }
    .like{
        display: none;
    }
    .user{
        display: none;
    }
    .home-profile{
        display: none;
    }

    .cart{
        position: absolute;
        width: 18.34px;
        height: 18.33px;
        left: 674.42px;
        top: 15.83px;        
    }

    .search{
        position: absolute;
        width: 16.05px;
        height: 16.05px;
        left: 626.73px;
        top: 16.73px;
    }

    /********************** User Details **********************/
    .Grishk{
        position: absolute;
        left: 20px;
        top: 84px;
        background: url(../assets/images/Grishk.png);
    }
    
    .user-name{
        position: absolute;
        left: 112px;
        top: 99px;

    }
    
    .email-id{
        position: absolute;
        left: 112px;
        top: 120px;
    }
    
    .my-profile{
        position: absolute;
        left: 28px;
        top: 206px;
    }

    .mobile_my-profile{
        position: absolute;
        left: 28px;
        top: 206px;
        font-weight: 600;
    }
    
    .notify{
        position: absolute;
        left: 28px;
        top: 230px;
    }
    
    .first-arrow{
        position: absolute;
        left: 192.12px;
        top: 223.5px;
    }
    
    .my-orders{
        position: absolute;
        left: 28px;
        top: 268px;
    }

    .mobile_my-orders{
        position: absolute;
        left: 28px;
        top: 268px;
        font-weight: 600;
    }
    
    .order-details{
        position: absolute;
        left: 29px;
        top: 293px;
    }

    .mobile_order-details{
        position: absolute;
        left: 29px;
        top: 293px;
    }

    .second-arrow{
        position: absolute;
        left: 192.12px;
        top: 287.5px;
    }
    
    .mobile_second-arrow{
        position: absolute;
        left: 192.12px;
        top: 287.5px;
    }
    
    .my-address{
        position: absolute;
        left: 29px;
        top: 341px;
    }

    .mobile_my-address{
        position: absolute;
        left: 29px;
        top: 341px;
    }
    
    .addres-details{
        position: absolute;
        left: 29px;
        top: 366px;
    }

    .mobile_addres-details{
        position: absolute;
        left: 29px;
        top: 366px;
    }
    
    .third-arrow{
        position: absolute;
        width: 8px;
        height: 11px;
        left: 192.12px;
        top: 357.5px;
    }

    .mobile_third-arrow{
        position: absolute;
        width: 8px;
        height: 11px;
        left: 192.12px;
        top: 357.5px;
    }
        
}

/********************** Mobile View Configuration **********************/

@media only screen and (max-width: 360px){

    /********************** Navigation bar Configuration **********************/
    nav{
        position: absolute;
        width: 360px;
        height: 48px;
    }
    
   /********************** Navigation List- Hidden in Mobile Mode **********************/
    .forme{
        display: none;
    }
    .Jeans{
        display: none;
    }
    .Shirts{
        display: none;
    }
    .T-Shirts{
        display: none;
    }
    .Trousers{
        display: none;
    }
    .Joggers{
        display: none;
    }
    .Shorts{
        display: none;
    }
    .like{
        display: none;
    }
    .user{
        display: none;
    }
    .home-profile{
        display: none;
    }

    .cart{
        position: absolute;
        width: 18.34px;
        height: 16.33px;
        left: 261.42px;
        top: 14.83px;
   
    }

    .search{
        position: absolute;
        width: 16.05px;
        height: 14.05px;
        left: 213.73px;
        top: 15.73px;

    }

    /********************** User Details **********************/

    .Grishk{
        position: absolute;
        left: 20px;
        top: 78px;
        background: url(../assets/images/Grishk.png);
    }

    .my-profile{
        position: absolute;
        left: 22px;
        top: 191.8px;
    }
    
    .notify{
        position: absolute;
        left: 22px;
        top: 214.95px;
    }
    
    .first-arrow{
        position: absolute;
        left: 75.04%;
        top: 34%;
        transform: rotate(90deg);
    }
    
    .my-orders{
        position: absolute;
        left: 22px;
        top: 261px;
    }

    .mobile_my-orders{
        position: absolute;
        left: 22px;
        top: 760px;
    }
    
    .order-details{
        position: absolute;
        left: 23px;
        top: 283px;
    }

    .mobile_order-details{
        position: absolute;
        left: 23px;
        top: 790px;
    }

    .second-arrow{
        position: absolute;
        left: 75.04%;
        top: 45%;
        transform: rotate(-90deg);
    }

    .mobile_second-arrow{
        position: absolute;
        left: 250px;
        top: 775px;
        transform: rotate(90deg);
    }
    
    .my-address{
        position: absolute;
        left: 22px;
        top: 975px;
    }

    .mobile_my-address{
        position: absolute;
        left: 22px;
        top: 840px;
    }
    
    .addres-details{
        position: absolute;
        left: 22px;
        top: 1000px;
    }

    .mobile_addres-details{
        position: absolute;
        left: 22px;
        top: 860px;
    }
    
    .third-arrow{
        position: absolute;
        left: 250px;
        top: 985px;
        transform: rotate(90deg);
    }

    .mobile_third-arrow{
        position: absolute;
        left: 250px;
        top: 850px;
        transform: rotate(90deg);
    }
}

