
<img src="../../assets/images/left-arrow.png" alt="" class="left-arrow">
<img src="../../assets/images/forme.png" alt="" class="forme">
<img src="../../assets/images/joggers 1.png" alt="" class="joggers">
<img src="../../assets/images/t-shirt.png" alt="" class="t-shirt">
<img src="../../assets/images/shirt.png" alt="" class="printed-shirt">
<img src="../../assets/images/pant.png" alt="" class="pant">
<img src="../../assets/images/right-arrow.png" alt="" class="right-arrow">

    

<div class="model">
    <img src="../../assets/images/model1.png" alt="" class="model">
    <div class="model-text">
       
       <div class="text"> Clothes that <p class="red-text"> respire </p></div>
    </div>
    <div class="model-text1">
        <div class="text"> For men who <p class="red-text"> Aspire </p></div>
     </div>
     <div class="browse">
         <p class="browse-text">BROWSE COLLECTIONS</p> 
    </div>
</div>

<img src="../../assets/images/model2.png" alt="" class="second-model">
<div class="second-model">
    <div class="second-model-text">
        <p class="red-text1"> Summer </p>
       <div class="text1">is here and  
        </div>
    </div>
    <div class="second-model-text1">
        <div class="text"> so is our  <p class="red-text2"> collection </p></div>
     </div>
</div>

<img src="../../assets/images/model3.png" alt="" class="third-model">
<div class="third-model">
    <div class="third-model-text">
        <p class="red-text3"> Wrinkle-free</p>
       <div class="text3"> t-shirts </div>
    </div>
</div>

<img src="../../assets/images/model2.png" alt="" class="fourth-model">
<div class="fourth-model">
    <div class="fourth-model-text">
        <p class="red-text3"> Stein free </p>
       <div class="text4">Denim shirts  
        </div>
    </div>
</div>
<div class="end-line1"></div>
<p class="latest-col">LATEST COLLECTIONS</p>
<div class="end-line2"></div>

<div>
    <div class="jeans1">
        <div class="shirt">{{shirtName}}</div>
        <div class="price-amount">₹{{Amount}}</div>
    </div>
    <div class="user-model1">
        <p class="shirt">{{shirtName}}</p>
        <div class="price-amount">₹{{Amount}}</div>
    </div>
    <div class="jeans2">
        <div class="shirt">{{shirtName}}</div>
        <div class="price-amount">₹{{Amount}}</div>
    </div>
    <div class="user-model2">
        <div class="shirt">{{shirtName}}</div>
        <div class="price-amount">₹{{Amount}}</div>
    </div>
    <div class="jeans3">
        <div class="shirt">{{shirtName}}</div>
        <div class="price-amount">₹{{Amount}}</div>
    </div>
</div>

<div class="review-section">
    <div class="testimonals"> Testimonials</div>
    
    <div class="first-review-comments">
        <div class="first-review-user"></div>
        <div class="user-name">Vikas</div>
        <div class="review-comments">Love the cloth material! So breezy and comfortable. Really durable as well. I must say the jeans I bought was worth the price.</div>
        <img src="../../assets/images/Star-Rating.png" alt="" class="star-one">
    </div>

    <div class="second-review-comments">
        <div class="first-review-user"></div>
        <div class="user-name">Vikas</div>
        <div class="review-comments">Love the cloth material! So breezy and comfortable. Really durable as well. I must say the jeans I bought was worth the price.</div>
        <img src="../../assets/images/Star-Rating.png" alt="" class="star-one">
    </div>

    <div class="third-review-comments">
        <div class="first-review-user"></div>
        <div class="user-name">Vikas</div>
        <div class="review-comments">Love the cloth material! So breezy and comfortable. Really durable as well. I must say the jeans I bought was worth the price.</div>
        <img src="../../assets/images/Star-Rating.png" alt="" class="star-one">
    </div>
</div>

<div>
    <img src="../../assets/images/model4.png" alt="" class="offers-search">
    <div class="offers-search">
        <div class="coupon-details">GET COUPONS & STYLE GUIDES</div>
        <div class="subscribe">Subscribe to our Newsletter</div>
        <input type="text" class="text-box" placeholder="E-Mail ID">
        <div class="subscribe-button">
            <p class="sub-text">SUBSCRIBE</p>
        </div>
    </div>
</div>
<app-pop-view></app-pop-view>
<app-footer [home_footer] ="home_footer"></app-footer>
